<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headtag"></head>

<body>
	<nav th:replace="fragments :: navbar"></nav>

	<main role="main" class="container">
		<h1></h1>
		
		<div class="starter-template">
			<p class="lead">Login to the app</p>
			<form action="#" th:action="@{/login}" th:object="${appLoginCredentials}" method="post">
				<div class="mb-3">
				  <label for="username" class="form-label">Username</label>
				  <input type="text" class="form-control" id="username-input" th:field="*{username}" placeholder="Enter the username">
				</div>
				<div class="mb-3">
				  <label for="password" class="form-label">Password</label>
				  <input type="password" class="form-control" id="pwd-input" th:field="*{password}" placeholder="Enter the password">
				</div>
				<div class="text-danger" th:if="${param.error}">
	            	Invalid username or password.
	    		</div>
				<button type="submit" class="btn btn-primary">Login</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</form>
		</div>

	</main>

	<footer th:replace="fragments :: footer"></footer>
	
</body>
</html>