<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headtag"></head>

<body>
	<nav th:replace="fragments :: navbar"></nav>

	<main role="main" class="container">
		<h1></h1>
		<div class="starter-template">
			<p class="lead">Set a new password for App's Local Admin User.</p>
			<form action="#" th:action="@{/set-password}" th:object="${appLocalCredentials}" method="post">
				<div class="mb-3">
				  <label for="existingPassword" class="form-label">Existing Password</label>
				  <input type="password" class="form-control" id="existing-pwd-input" th:field="*{existingPassword}" aria-describedby="existing-pwd-help" placeholder="Enter the existing/current password">
				  <small th:if="${#fields.hasErrors('existingPassword')}" th:errors="*{existingPassword}" class="text-danger"></small>
				  <small id="existing-pwd-help" class="form-text text-muted">The existing/current password for App's Local Admin User.</small>
				</div>
				<div class="mb-3">
				  <label for="password" class="form-label">New Password</label>
				  <input type="password" class="form-control" id="pwd-input" th:field="*{password}" aria-describedby="pwd-help" placeholder="Enter new password">
				  <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></small>
				  <small id="pwd-help" class="form-text text-muted">The new password for App's Local Admin User. It must be minimum 10 characters long. It must consist of 1 lower case character, 1 UPPER CASE character, 1 numeric character and 1 special character.</small>
				</div>
				<div class="mb-3">
				  <label for="confirmPassword" class="form-label">Confirm New Password</label>
				  <input type="password" class="form-control" id="conf-pwd-input" th:field="*{confirmPassword}" aria-describedby="conf-pwd-help" placeholder="Enter the new password again">
				  <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></small>
				  <small id="conf-pwd-help" class="form-text text-muted">Enter the new password again for confirmation.</small>
				</div>
				<button type="submit" class="btn btn-primary">Change Password</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</form>
		</div>

	</main>

	<footer th:replace="fragments :: footer"></footer>
	
</body>
</html>